body{
    background-color: #132440;
    text-align: center;
}

#name{
    color: #ffaa00;
    margin-top: 30px;
    letter-spacing: 2px;
}

h1{
    color: #ffaa00;
}

h2{
    color: whitesmoke;
}

.container{
    display: flex;
    flex-direction: row;
}

.container div{
    border: #ffffff 1px solid;
    height: auto;
    width: 100%;
}

img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

.option{
    display: flex;
    flex-direction: row;
}

.option div{
    border: #ffffff 1px solid;
    height: auto;
    width: 100%;
}

.option img {
  width: 100%;
  max-width: 100px;
  height: auto;
  border-radius: 10px;
}

.option img:hover{
    transform: scale(1.20);
    cursor: pointer;
    transition: 0.3s ease;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}